$c-white: #fff;
$c-black: #000;
$c-green: greenyellow;

:root {
  --aliengreen: #adff2f;
  --blue: #577ee7;
  --black: #000;
  --white: #ffffff;
}

$background: #001700;
$background-light: #003517;
$primary: #02893c;
$primary-light: #adff2f;
$alert: #ab0d0d;
$alert-light: #fa622d;
$secondary: #e6ffe5;
$hint: #797979;
