.resources {
  border: 2px solid $primary;
}
.resource-label {
  text-transform: uppercase;
  padding-left: 5px;
  justify-self: center;
  flex: auto;
}

.attr-label {
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 5px;
}
