.tabs {
  height: 30px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  color: inherit;

  .item {
    line-height: 30px;
    font-weight: bold;
    font-size: 14px;
    color: inherit;
  }

  .item.active {
    text-shadow: none;
    color: $background;
  }
}
